<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Описание страницы">
        <title>ChefPro - О нас</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    <body class="w3-dark-gray">
        {% include 'recipe_catalog/includes/header.html' %}
        <main class="w3-padding" style="margin-top: 100px; margin-bottom: 60px;">
            <h1 class="w3-center">Добро пожаловать на наш кулинарный сайт</h1>
            <div>Мы - команда поваров-энтузиастов, которые искренне верят, что готовка должна быть увлекательной и доступной для всех. Наша цель - делиться простыми и вкусными рецептами, вдохновляющими создавать новые кулинарные шедевры. Мы собираем лучшие идеи со всего мира под самые разные вкусы и предпочтения. Присоединяйтесь к нашему сообществу и вместе с нами открывайте новые грани кулинарного искусства!</div>
        </main>
        {% include 'recipe_catalog/includes/footer.html' %}
    </body>
</html>